<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Complaint</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="box">
    <h2>Raise Complaint</h2>
    <select id="category">
        <option>Water</option>
        <option>Electricity</option>
        <option>Internet</option>
        <option>Other</option>
    </select>
    <textarea id="description" placeholder="Describe issue"></textarea>
    <button onclick="submitComplaint()">Submit</button>
    <p id="msg"></p>
</div>
<script src="../static/javascript/new-complaint.js"></script>
</body>
</html>