<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="topbar">
    <h2>Welcome</h2>
    <button onclick="logout()">Logout</button>
</div>

<div class="container">
    <button onclick="window.location='new-complaint.html'">Raise Complaint</button>
    <h3>Your Complaints</h3>
    <div id="complaints"></div>
</div>
<script src="../static/javascript/user-dashboard.js"></script>
</body>
</html>